[Unit]
Description=stone ready service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh /root/service-script/stone-ready-box.sh start
ExecStop=/bin/sh  /root/service-script/stone-ready-box.sh stop 
User=root
Group=root


[Install]
WantedBy=multi-user.target